body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    font-family: Verdana;
    font-size: 40px;
    color: rgb(155, 241, 247);
    text-align: center;
}

button {
    background-color: #02857a;
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-table;
    font-size: 20px;
}